<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>cadastro de clientes</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/image/favicon.png"/>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
</head>

<body>
       
  <h1>clientes cadastrados</h1>
      
       <a th:href="@{/eventos/cadastro}" >
	        novo evento
	     </a>
       <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">codigo</th>
      <th scope="col">nome</th>
      <th scope="col">local</th>
      <th scope="col">data</th>
      <th scope="col">horario</th>
    </tr>
  </thead>
  <tbody>
     <tr th:each="e:${eventos}">
      <td>
        <a th:href="@{/eventos/{id}/selecionarconvidados(id=${e.id})}" >
         <span th:text="${e.id}">
         </span>
        </a>
       </td>
       <td th:text="${e.nome}"> 
      <td th:text="${e.local}"/>
      <td th:text="${e.data}"/>
      <td th:text="${e.horario}"/>
      <td>
	     <a th:href="@{/eventos/{id}/selecionareventos(id=${e.id})}" >
	        editar
	     </a>
	  </td>
    </tr>
   
  </tbody>
</table>
	    

</body>
</html>