<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Produtos da loja</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/image/favicon.png"/>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
    <style type="text/css">
table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(158, 154, 154, 0.5);
}

form input[type=submit] {
	color: white;
}

table {
 width: 100%;
}

table td, table th {
 border: 1px solid grey;
}

table th {
 background: #eee;
}

</style>
</head>

<body>

       
 	<h2>LISTAGEM DE PRODUTOS</h2>


	 <a th:href="@{/loja/novoproduto}" >
	        novo produto
	     </a>
	  
	  <table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th  scope="col">id</th>
					<th  scope="col">nome</th>
					<th  scope="col">data fabricação</th>
					<th  scope="col">data vencimento</th>
									
					
					
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="lp : ${listaProdutos}">
					  <td th:text="${lp.id}"/>
				        <td th:text="${lp.nome}"/>
				       <td th:text="${lp.dataStr}"/>
				       <td th:text="${#dates.format(lp.dataCadastro, 'dd/MM/yyyy')}"></td>
				</tr>
			</tbody>
		</table>
		
		
			total de items : [[${totalItems}]] - page [[${currentPage}]] of [[${totalPages}]] &nbsp;&nbsp;
		    <!--  
		     <a th:if="${currentPage > 1}"  th:href="@{/loja/page/1}">primeiro</a>&nbsp;&nbsp;
			<span th:unless="${currentPage > 1}">primeiro</span>
			
			
			<a th:if="${currentPage > 1}"  th:href="@{'/loja/page/'+${currentPage - 1}}">anterior</a>&nbsp;&nbsp;
			<span th:unless="${currentPage > 1}">anterior</span>
			
			
			<span th:each="i:${#numbers.sequence(1,totalPages)}">
			<a th:if="${i !=currentPage}"  th:href="@{'/loja/page/'+${i}}">[[${i}]]</a>&nbsp;&nbsp;
			
			
			<span th:unless="${i !=currentPage}">[[${i}]]</span>
			</span>
			 <a th:if="${currentPage < $totalPages}"  th:href="@{/loja/page/1}">próximo</a>&nbsp;&nbsp;
			<span th:unless="${currentPage < $totalPages}">próximo</span>
			
			<a th:if="${currentPage < $totalPages}"  th:href="@{/loja/page/1}">ultimo</a>&nbsp;&nbsp;
			<span th:unless="${currentPage < $totalPages}">ultimo</span>
		-->
		<!-- -------------------------------------------------------- -->
		
	<nav aria-label="Page navigation example">
  		<ul class="pagination justify-content-center">
    		<li class="page-item ">
      			<a class="page-link" th:if="${currentPage > 1}"  th:href="@{/loja/page/1}">primeiro</a>&nbsp;&nbsp;
				<span th:unless="${currentPage > 1}">primeiro</span>
    		</li>
    
   			 <li class="page-item">
   				 <a  class="page-link" th:if="${currentPage > 1}"  th:href="@{'/loja/page/'+${currentPage - 1}}">anterior</a>&nbsp;&nbsp;
				<span th:unless="${currentPage > 1}">anterior</span>
    		</li>
    
    		<li class="page-item">
   				 <span th:each="i:${#numbers.sequence(1,totalPages)}">
			<a class="page-link" th:if="${i !=currentPage}"  th:href="@{'/loja/page/'+${i}}">[[${i}]]</a>&nbsp;&nbsp;
			</span>
   			 </li>
    
    		
    
    		<li class="page-item">
     			<a class="page-link"  th:if="${currentPage < $totalPages}"  th:href="@{'/loja/page/'+${currentPage + 1}">próximo</a>&nbsp;&nbsp;
				<span th:unless="${currentPage < $totalPages}">próximo</span>
    		</li>
    		
    		<li class="page-item">
    			<a class="page-link"  th:if="${currentPage < $totalPages}"  th:href="@{'/loja/page/'+${currentPage + 1}">ultimo</a>&nbsp;&nbsp;
			<span th:unless="${currentPage < $totalPages}">ultimo</span>
    		</li>
    
  </ul>
</nav>
	
</body>
</html>