<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Loja Virtual</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>



	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div id="list-home" class="row">


<form action="/igrejas/cadastrarmembro" 
       	th:object="${membro}"
       	method="POST">
  <div class="form-row">
  
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nome</label>
      <input 
      	name="nome"
       	th:field="*{nome}"
      	type="email" 
      	class="form-control" 
      	id="inputEmail4" placeholder="nome">
    </div>
    
    <div class="form-group col-md-6">
      <label for="inputPassword4">RG</label>
      <input 
      	name="rg"
       	th:field="*{rg}"
      	type="password" 
      	class="form-control" 
      	id="inputPassword4" 
      	placeholder="Senha">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">CPF</label>
    <input 
    	type="text" 
    	name="cpf"
       	th:field="*{cpf}"
    	class="form-control" 
    	id="inputAddress" 
    	placeholder="Rua dos Bobos, nº 0">
  </div>
   <div class="form-group">
      <label for="inputEstado">ESTADO CIVIL</label>
      <select id="inputEstado" class="form-control">
        <option selected>Escolher...</option>
        <option>Paraná</option>
         <option>Santa Catarina</option>
          <option>Rio Grande do Sul</option>
      </select>
    </div>
  <div class="form-group col-md-4">
      <label for="inputCEP">NACIONALIDADE</label>
      <input 
      type="text" 
      name="nacionalidade"
       	th:field="*{nacionalidade}"
      class="form-control" id="inputCEP">
    </div>
  <div class="form-group">
    <label for="inputAddress2">NATURALIDADE</label>
    <input 
    type="text" 
    name="naturalidade"
       	th:field="*{naturalidade}"
    class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
  </div>
  
 <div class="form-group">
      <label for="inputEstado">ESTADO</label>
      <select id="inputEstado" class="form-control">
        <option selected>Escolher o Estado</option>
        <option>Paraná</option>
         <option>Santa Catarina</option>
          <option>Rio Grande do Sul</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputCity">DATA NASCIMENTO</label>
      <input 
      type="text" 
      name="dataNascimento"
       	th:field="*{dataNascimento}"
      class="form-control" id="inputCity">
    </div>
    <div class="form-group">
      <label for="inputCity"> NOME DA MÃE</label>
      <input 
      type="text" 
      name="nomeMae"
       	th:field="*{nomeMae}"
      class="form-control" id="inputCity">
    </div>
    
    <div class="form-group">
      <label for="inputCity">NOME DO PAI</label>
      <input 
      type="text" 
      name="nomePai"
       	th:field="*{nomePai}"
      class="form-control" id="inputCity">
    </div>
    <div class="form-group">
      <label for="inputEstado">CONGREGAÇÃO</label>
      <select id="inputEstado" class="form-control">
        <option selected>Escolher...</option>
        <option>Paraná</option>
         <option>Santa Catarina</option>
          <option>Rio Grande do Sul</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputEstado">CARGO</label>
      <select id="inputEstado" class="form-control">
        <option selected>Escolher...</option>
        <option>Paraná</option>
         <option>Santa Catarina</option>
          <option>Rio Grande do Sul</option>
      </select>
    </div>
   
    
    
    
    
  
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Clique em mim
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Entrar</button>
</form>

			</div>
		</div>
	</section>




	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function() {
			$(".navbar-toggle").click(function() {
				$(".sidebar").toggleClass("sidebar-open");
			})
		});
	</script>
</body>
</html>